@import "../../../../sass/base/variables";

.input-field {
  position: relative;
  width: 100%;
  padding-left: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;

  &.effort-input,
  &.workout-input {
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $main-orange;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.checkbox {
    padding: 0;
    width: calc(100% / 3);

    label {
      color: $white;
      order: 1;
      font-size: 13px;
      margin-left: 5px;
      text-align: left;
    }

    &.agree-input {
      width: 100%;

      label {
        max-width: 80%;
      }
    }
  }

  &.textarea {
    .form-input {
      height: 60px;
      resize: none;
      padding: 5px 10px 0 40px;
    }

    .input-logo-container {
      height: 60px;
      width: 50px;
    }
  }

  .form-input {
    appearance: none;
    line-height: 20px;
    height: 40px;
    padding: 0 10px 0 30px;
    -webkit-border-radius: 0.5em;
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    color: $main-black;
    font-size: 13px;

    &.error {
      background-color: $error-bg;
    }

    &[type="checkbox"] {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 22px;
      width: 22px;
      background-color: $main-orange;

      &:checked::after {
        content: "";
        position: absolute;
        left: 7px;
        top: 4px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  .input-logo-container {
    position: absolute;
    left: -5px;
    width: 40px;
    height: 40px;
    background-color: $main-orange;
    -webkit-border-top-left-radius: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;

    .input-logo {
      width: 80%;
      height: 80%;
    }
  }

  .input-error-text {
    position: absolute;
    top: 5px;
    right: 0;
    color: $error-text;
  }
}
