@import '../../sass/base/_variables';

.header-block {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
    display: flex;
    align-items: center;

    .navHeader__links {
        display: flex;
        color: $white;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    .navHeader__item {
        width: 120px;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            color: $main-orange;
            transform: scale(1.2);
        }

        &.item_active {
            color: $main-orange;
        }
    }

    .header-main-logo {
        width: 72px;
        height: 11px;
        margin: 0 20px;
        cursor: pointer;
    }

    .header-request-btn {
        position: relative;
        transition: all .2s ease;
        border: none;
        margin-left: 20px;
        padding: 10px 15px;
        cursor: pointer;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        background-color: transparent;
        outline: none;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            border-radius: 28px;
            background: $main-orange;
            width: 35px;
            height: 35px;
            transition: all .3s ease;
        }

        &:hover:before {
            width: 100%;
        }

        &:active {
            transform: scale(.96);
        }
    }
}